* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

main {
  height: 100vh;
  background-color:#000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  main h1 {
    position: absolute;
    top: 20px;
    margin: 0 auto;
    font-size: 30px;
    color: #fff }
  main section.canvas {
    position: relative;
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden; }
  main section.error-message {
    display: none; }

@media screen and (max-height: 499px), (max-width: 299px) {
  main h1, main section.canvas {
    display: none; }
  main section.error-message {
    display: block;
    padding: 0 20px; } }
